doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.blocking

            header

                #header
                    .container
                        .logo
                            a(href="index.html")
                                #typed-strings
                                    p Anke Carola Walter
                                span#typed

                                //img(src="img/icons/logo.svg")


            .content
                .container.cf
                    h3 coming soon …
            include ./footer2.jade










