doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.blog

            include ./header.jade
            .content
                .container.cf
                    h1 Blog
                    .desc_blog Sie haben etwas zu bieten: ein Produkt, eine Dienstleistung, eine Information, Ihre Persönlichkeit.
                    .list_article
                        .item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")
                            a.name(href="article.html") Working from home? Here’s how to stay on task
                            .data Apr 14, 2016
                            .short_desc I’ve been working remotely as a freelancer or contractor for two years now. I also have ADHD, and I am a terrible procrastinator. As a result,…

                        .item-article
                            .img-holder
                                img(src="img/content/blog2.jpg")
                            a.name(href="article.html") 6 lessons about leadership and teamwork from child…
                            .data Apr 08, 2016
                            .short_desc Although we strive to eliminate work about work, we’re huge fans of reading (and writing) about work, especially leadership and teamwork. From…


                        .item-article
                            .img-holder
                                img(src="img/content/blog3.jpg")
                            a.name(href="article.html") Resilience: the key to reducing stress at work
                            .data Feb 22, 2016
                            .short_desc Whether you’re overloaded with assignments, or you’re not getting along with your teammates, stress at work is a fact of life. According to a…

                        .item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")
                            a.name(href="article.html") Working from home? Here’s how to stay on task
                            .data Apr 14, 2016
                            .short_desc I’ve been working remotely as a freelancer or contractor for two years now. I also have ADHD, and I am a terrible procrastinator. As a result,…

                        .item-article
                            .img-holder
                                img(src="img/content/blog2.jpg")
                            a.name(href="article.html") 6 lessons about leadership and teamwork from child…
                            .data Apr 08, 2016
                            .short_desc Although we strive to eliminate work about work, we’re huge fans of reading (and writing) about work, especially leadership and teamwork. From…


                        .item-article
                            .img-holder
                                img(src="img/content/blog3.jpg")
                            a.name(href="article.html") Resilience: the key to reducing stress at work
                            .data Feb 22, 2016
                            .short_desc Whether you’re overloaded with assignments, or you’re not getting along with your teammates, stress at work is a fact of life. According to a…

                        .item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")
                            a.name(href="article.html") Working from home? Here’s how to stay on task
                            .data Apr 14, 2016
                            .short_desc I’ve been working remotely as a freelancer or contractor for two years now. I also have ADHD, and I am a terrible procrastinator. As a result,…

                        .item-article
                            .img-holder
                                img(src="img/content/blog2.jpg")
                            a.name(href="article.html") 6 lessons about leadership and teamwork from child…
                            .data Apr 08, 2016
                            .short_desc Although we strive to eliminate work about work, we’re huge fans of reading (and writing) about work, especially leadership and teamwork. From…



                    #loading
                        span Loading



            include ./footer2.jade



