
//#overlay
.block_contacts
    .wrap
        .container.cf
            .block_text Let’s be in touch, just&nbsp;
                i write me
            .list_contacts
                .item_contact
                    h5 VISIT US
                    p 407 E. Louisiana
                        br
                        | St Suite 105
                        br
                        | McKinney, TX 75069

                .item_contact
                    h5 CONTACT US
                    p
                        i Phone:
                        a(href="tel:437-836-3082") 437-836-3082
                    p
                        i Email:
                        a(href="mailto:hello@techtalent.com") hello@techtalent.com


                .item_contact
                    h5 FOLLOW US
                    ul
                        li
                            a(href="#" target="_blank")
                                i.fa.fa-linkedin
                                | Linkedin
                        li
                            a(href="#" target="_blank")
                                i.fa.fa-facebook
                                | Facebook
                        li
                            a(href="#" target="_blank")
                                i.fa.fa-twitter
                                | Twitter
                        li
                            a(href="#" target="_blank")
                                i.fa.fa-xing
                                | Xing

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/owl.carousel.js")
script(src="js/typed.js")
