

.footer

        .container.cf




                .contact

                    p
                        i Phone:
                        a(href="tel:437-836-3082") 437-836-3082
                    p
                        i Email:
                        a(href="mailto:hello@techtalent.com") hello@techtalent.com

                a.link_impressum(href="impressum.html") Impressum
                .social

                    ul

                        li
                            a(href="#" target="_blank")
                                i.fa.fa-facebook

                        li
                            a(href="#" target="_blank")
                                i.fa.fa-linkedin


                        li
                            a(href="#" target="_blank")
                                i.fa.fa-xing



#overlay





script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/typed.js")
script(src="js/alexValidate.js")
script(src="js/owl.carousel.js")
