
header

    #header
        .container
            .logo
                a(href="index.html")
                    #typed-strings
                        p Anke Carola Walter
                    span#typed
                    br

                    img(src="img/icons/logo.svg")

            .menu-block

                ul.nav
                    li
                        a(href="about.html") ABOUT US
                    li
                        a(href="services.html") SERVICES
                    li
                        a(href="portfolio.html") PORTFOLIO
                    li
                        a(href="blog.html") BLOG
                    li
                        a(href="contacts.html") CONTACT US

            .menu-block.mobile
                .navbar-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                ul.nav
                    li
                        a(href="about.html") ABOUT US
                    li
                        a(href="services.html") SERVICES
                    li
                        a(href="portfolio.html") PORTFOLIO
                    li
                        a(href="blog.html") BLOG
                    li
                        a(href="contacts.html") CONTACT US

    .block_img
        .container
            h4 Hello
            .block_text


                        | My name is
                        br
                        | Anke Carola Walter
                        br
                        | I am an independent
                        br
                        i copywriter






