doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.impressum

            include ./header.jade
            .content
                .container.cf

                        h1 Impressum
                        div.list_impressum
                            .item
                                p
                                    | PR Hermanns
                                    br
                                    | Am Wassermann 29 50829 Köln
                                    br
                                    | Telefon 0221 – 424 86 66
                                    br
                                    | Telefax 0221 – 424 86 67
                                    br
                                    | Mobil 0172 – 455 77 67
                                    br
                                    a(href="mailto:c.hermanns@prhermanns.de") c.hermanns@prhermanns.de
                            .item
                                h3  HERAUSGEBER
                                p
                                    | Inhaberin: Claudia Hermanns-Heber
                                    br
                                    | Handelsregistergericht: Amtsgericht Köln
                                    br
                                    | St.Nr. 223/5119/1699
                                    br
                                    | Commerzbank Köln
                                    br
                                    | Konto 220 668 800
                                    br
                                    | BLZ 370 400 44
                                    br
                                    | UID: DE204053600

                            .item
                                h3 GESTALTUNG UND PROGRAMMIERUNG
                                p Heber.Link Agentur für Kommunikation.&nbsp;
                                    a(href="http://www.heberlink.de/" target="_blank") www.heberlink.de

                            .item
                                h3 BILDER
                                p
                                    | Urheber der Bilder:
                                    br
                                    a(href="http://www.schnappschuetzen.de/" target="_blank") www.schnappschuetzen.de
                            .item.long_div
                                h3 HAFTUNGSHINWEIS
                                p
                                    | PR Hermanns übernimmt keine Verantwortung für die Inhalte von externen Websites, auf die von www.prhermanns.de verlinkt wurden.
                                    br
                                    | Aufgrund der aktuellen Empfehlung des BVDW (Bundesverband Digitale Wirtschaft) wird darauf hingewiesen, dass das prhermanns Google Analytics als Webanalyse-Tool verwendet. Die Datenschutzrichtlinien von Google-Analytics können unter folgender Adresse eingesehen werden.
                                    br
                                    | Datenschutzhinweis Google-Analytics:
                                    br
                                    a(href="http://www.google.de/intl/de/analytics/privacyoverview.html" target="_blank") http://www.google.de/intl/de/analytics/privacyoverview.html
                            .item
                                ul
                                    li dgdg
                                    li sdfgsdg
                                ol
                                    li sdgdsg
                                    li asfsgf

            include ./footer2.jade



