doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home

            include ./header.jade
            .content
                .block_services
                    .container
                        h4 services
                        .list_services
                            .item_service

                                .block_service
                                    h3
                                        a(href="#") TEXT WRITING
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                .mask.cf
                                    .img-holder
                                        img(src="img/content/services1.jpg")

                            .item_service
                                .block_service
                                    h3
                                        a(href="#") Correction
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                .mask.cf
                                    .img-holder
                                        img(src="img/content/services1.jpg")

                            .item_service
                                .block_service
                                    h3
                                        a(href="#") PR CONSULTATION
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                .mask.cf
                                    .img-holder
                                        img(src="img/content/services1.jpg")

                            .item_service
                                .block_service
                                    h3
                                        a(href="#") SMM
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                .mask.cf
                                    .img-holder
                                        img(src="img/content/services1.jpg")


                .block_industries_title
                    .container
                        h4 INDUSTRIES
                        .block_text I grasp worldwide&nbsp;
                            i industries


                .block_industries
                    .container
                        ul.list_industries
                            li
                                span Beauty, cosmetics
                            li
                                span Sport
                            li
                                span Pr-agency
                            li
                                span Fashion
                            li
                                span Tourism / travel
                            li
                                span Magazines
                            li
                                span Lifestyle

                        .block_desc Whether through commerce or just an experience to tell your brand's story, the time has come to start using development languages that fit&nbsp;
                            i your projects needs

                .block_advantages
                    .container
                        h4 ADVANTAGES
                        .block_text I could tell you about my&nbsp;
                            i advantages

                        .list_advantages.cf
                            .item_advantage
                                .number 1
                                .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.

                            .item_advantage
                                .number 2
                                .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.
                            .item_advantage
                                .number 3
                                .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.

                            .item_advantage
                                .number 4
                                .block_advantage We design seamless and progressive digital platforms with your business goals at the forefront of our strategy, so that you can evolve and grow to stay ahead of your competitors.



                .block_rewieves
                    .container
                        h4 REWIEVES
                        .block_text Here is my&nbsp;
                            i clients

                .block_contacts
                    .wrap
                        .container.cf
                            .block_text Let’s be in touch, just&nbsp;
                                i write me
                            .list_contacts
                                .item_contact
                                    h5 VISIT US
                                    p 407 E. Louisiana
                                        br
                                        | St Suite 105
                                        br
                                        | McKinney, TX 75069

                                .item_contact
                                    h5 CONTACT US
                                    p
                                        i Phone:
                                        a(href="tel:437-836-3082") 437-836-3082
                                    p
                                        i Email:
                                        a(href="mailto:hello@techtalent.com") hello@techtalent.com


                                .item_contact
                                    h5 FOLLOW US
                                    ul
                                        li
                                            a(href="#" target="_blank")
                                                i.fa.fa-linkedin
                                                | Linkedin
                                        li
                                            a(href="#" target="_blank")
                                                i.fa.fa-facebook
                                                | Facebook
                                        li
                                            a(href="#" target="_blank")
                                                i.fa.fa-twitter
                                                | Twitter
                                        li
                                            a(href="#" target="_blank")
                                                i.fa.fa-xing
                                                | Xing


            include ./footer.jade



