doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.services

            include ./header.jade
            .content
                .container.cf
                    h1 Services
                    .list_services.cf
                        .item_service

                            .service
                                .vertical
                                    h3
                                        a(href="service1.html") Text writing
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    a.more(href="service1.html") LEARN MORE
                            .mask.cf
                                .img-holder
                                    img(src="img/content/writing.jpg" align="middle")

                        .item_service
                            .service
                                .vertical
                                    h3
                                        a(href="service2.html") Correction
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    a.more(href="service2.html") LEARN MORE

                            .mask.cf
                                .img-holder
                                    img(src="img/content/correction.jpg")

                        .item_service
                            .service
                                .vertical
                                    h3
                                        a(href="service3.html") PR consultation
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    a.more(href="service3.html") LEARN MORE


                            .mask.cf
                                .img-holder
                                    img(src="img/content/pr.jpg")

                        .item_service
                            .service
                                .vertical
                                    h3
                                        a(href="service4.html") SMM
                                    p We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
                                    a.more(href="service4.html") LEARN MORE


                            .mask.cf
                                .img-holder
                                    img(src="img/content/smm.png")



            include ./footer2.jade



